*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEEEE4;
}
.bagianContent{
    margin: 0 70px;
}


.iconPilih{
    display: none;
}
.Jumbroton{
    width: 100%;
    height: 700px;

    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/static/img/in.jpg');
}
.navbar-container{
    margin: 0 70px;
}
nav {
  background-color: transparent;

  display: flex;
  justify-content: space-between;
   position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav div img {
  width: 50px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  color: #ffffff;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}
.btn{
    padding: 8px 20px;
    color: white;
    border-radius: 8px;
    background-color: #014224;
    text-align: center;

    font-size: 16px;

}
.btn:hover{
    color: white;
}
nav ul li a:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.menu-icon {
  /* background-color: tomato; */
  background-color: #ffffff;
  font-size: 28px;
  display: none;
}

main {
  padding-top: 7rem;
}

.contentText h1{
    color: white;
    font-size: 48px;
    
}
.contentText p{
    font-size: 16px;
    color: white;
}
.contentText h2{
    font-size: 20px;
    color: white;
}
/*bagian jumbotron */
.bagianContent{ 
    margin: 0 70px;
    display: flex;
    flex-direction: row;
  align-items: flex-end;
  padding: 20px 0;
  height: 700px;
}
 .contentText h1{
        color: white;
        font-size: 96px;
        
    }
    .contentText p{
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
    }
    .contentText h2{
        font-size: 20px;
        color: white;
    }

    /* Bagian Content iconPilihG */
   
   .iconPilihG{
    width: 493px; 
    height: 426px;
    display: flex;
    
    margin-left: 450px;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
  
    }
    .imgPG{
        width: 225px;
        height: 368px;
        border-radius: 8px;
        flex-shrink: 0; 
       
      
        margin-right: 20px;
    }
    .imgPG img{
      width: 100%;
      height: 100%;
      object-fit: cover; 
      border-radius: inherit; 
    }
    .iconPilihG::-webkit-scrollbar{
        width: 0;
    }
    .tentangKontainer{
      margin: 0 70px;
      
      display: flex;
    
      height:700px;
     
      overflow: hidden;
     
    
    }
    .bagianGmbr{
      width: 50%;
      margin-top: 50px;
      
      height: 400px;
     display: flex;
     justify-items: center;
     align-items: center;
     justify-content: center;
    }
    .bagianGmbr img{
      width: 450px;
      margin: auto;
      height: 450px;
    }
    .bagianText{
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-items: center;
      flex-direction: column;

      width: 50%;
    text-align: start;
    }
    
    .bagianText h1{
    font-size: 32px;
    font-weight: bold;
    color: #014224;
    letter-spacing: 11%;
    }
    .bagianText p{
      font-size: 24px;
      margin-top: 10px;
      font-weight: 400;
      text-align: justify;
      color: black;
    }
    /* Bagian Data Grafik */

    .bagianDataGrafik{
      width: 100%;
      background-color: #014224;
      padding: 60px 0;
      background: linear-gradient(rgba(1, 66, 36, 0.8), rgba(1, 66, 36, 0.8)), 
                  url('/static/img/forest.jpg');
      
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat;
      height: 700px;
    
      text-align: center;
    }
    .bagianDataGrafik h1{
      font-size: 32px;
      color: white;
      font-weight: bold;
      letter-spacing: 11%;
    }
    .bagianDataGrafik p{
      font-size: 20px;
      color: white;
      font-weight: 500;
      letter-spacing: 11%;
      margin-top: 15px;
      margin-bottom: 30px;
    }
    .bagianCardData{
      
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      margin: auto;
      overflow-x: auto;
        scroll-behavior: smooth;
        white-space: nowrap;
      
      margin-top: 20px;
    }
    .bagianCardData::-webkit-scrollbar{
      width: 0;
    }
    .cardData{
      width: 223px;
      display: flex;
      margin-right: 30px;
      flex-direction: column;
     align-items: center;
    flex-shrink: 0; 
      height: 420px;
      background-color: white;
      border-radius: 12px;
      padding: 10px;
    
    }
    .imgCardD{
    width: 100%;
    height: 312px;
    border-radius: 20px;
    }
    .cardData img{
      width: 100%;
      height: 100%;
      
      object-fit: cover; 
      border-radius: inherit; 
    }
    .cardData h1{
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: bold;
      color: #014224;
    }
    .btnCardD{
      width: 180px;
      height: 40px;
      text-align: center;
      border-radius: 8px;
      color: white;
      padding: 10px;
      font-size: 18px;
      background-color: #014224;
      font-weight: bold;
      margin: auto;
    }

    .baganFitur{
      width: 100%;
      padding: 0 70px;
      margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Mengatur jarak antara textFitur dan gambarFTR */
    align-items: center;
      height: 600px;
    }
    
    .gambarFTR{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      align-items: center;
      float: right;
      gap: 10px;
      order: 2;
      perspective: 1000px;
      width: 50%;
    }
    .imgFTR{
      border-radius: 12px;

      overflow: hidden; 
     padding: 10px;
      background-color: #014224; 
      padding: 10px;
      transform-style: preserve-3d; 
        transition: transform 0.5s ease;
      display: flex;
      transform-origin: left; 
      justify-content: center;
    
      align-items: center;
    } 
    .sedang{
      width: 200px;
      height: 322px;
      
      transform: perspective(1000px) rotateY(-10deg) skewX(-5deg);
    }
    .kecil{
      width: 150px;
      height: 222px;
      transform: perspective(1000px) rotateY(-10deg) skewX(-5deg);
    }
    .besar{
      width: 250px;
      height: 422px;
      transform: perspective(1000px) rotateY(-10deg) skewX(-5deg);
    }
    .imgFTR:hover {
      transform: perspective(1000px) rotateY(0deg) skewX(0deg); 
    }
    .imgFTR img{
      width: 100%;
      height: 100%;
      object-fit: cover; 
          border-radius: inherit; 
    }
    .textFitur{
      width: 50%;
      float: left;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      justify-items: center;
      align-items: center;
      order: 1;
    }

    
    
    .textFitur h2{
      font-size: 20px;
      font-weight: 600;
      color: #E9A950;
    margin-bottom: 8px;
    }
    .textFitur h1{
      font-size: 24px;
      font-weight: bold;
      color: black;
      margin-bottom: 8px;
    }
    .textFitur p{
      font-size: 20px;
      color: #8D8888;
      letter-spacing: 2px;
      
    }
    .fiturCrd{
      width: 60%;
      height: 40px;
    
      display: flex;
      flex-direction: row;
      background-color: white;
      border-radius: 10px;
      margin-top: 20px;
    padding: 8px 10px 3px 10px; 
      -webkit-box-shadow: -6px 7px 22px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 7px 22px -12px rgba(0,0,0,0.75);
    box-shadow: -6px 7px 22px -12px rgba(0,0,0,0.75);
    }
    .fiturCrd img{
      width: 24px;
      height: 24px;
       margin-right: 10px;
    }
    .fiturCrd h1{
      font-size: 16px;
      color: #014224;
      margin-bottom: 20px;
    }
    .footer {
      background-color: #014224; /* Similar purple color */
      color: white;
      padding: 40px 0;
      position: relative;
  }

  .footer:before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      height: 40px;
      background: #EEEEE4;
      border-radius: 0 0 100% 100%;
  }

  .footer-content {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
  }

  .footer-column {
      width: 25%;
  }

  .footer-column h3 {
      font-size: 1.2rem;
      margin-bottom: 15px;
  }

  .footer-column ul {
      list-style: none;
      padding: 0;
  }

  .footer-column ul li {
      margin-bottom: 10px;
  }

  .footer-column ul li a {
      color: #ddd;
      text-decoration: none;
  }

  .footer-column ul li a:hover {
      text-decoration: underline;
  }

  .social-icons {
      display: flex;
      justify-content: space-between;
      width: 80px;
      margin: 20px 0;
  }

  .social-icons a {
      text-decoration: none;
      font-size: 1.5rem;
      color: #ddd;
  }

  .back-to-top {
      text-align: center;
      margin-top: 20px;
  }

  .back-to-top a {
      background-color: #E9A950;
      padding: 10px;
      border-radius: 50%;
      color: white;
      text-decoration: none;
  }

  .footer-bottom {
      text-align: center;
      margin-top: 20px;
      font-size: 0.8rem;
      color: #aaa;
  }
  .social-icons img{
    width: 25px;
    height: 25px;
  }

  .dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Warna latar belakang semi-transparan */
    display: none; /* Tersembunyi secara default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Gaya untuk kontainer dialog */
  .dialog-container {
     /* Warna background dialog */
    width: 90%;
    max-width: 1000px;
    border-radius: 12px;
    padding: 20px;
    position: relative;
    max-height: 500px;
    background: linear-gradient(rgba(1, 66, 36, 0.8), rgba(1, 66, 36, 0.8)), 
                    url('/static/img/forest.jpg');
        text-align: center;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; /* Bayangan */
    animation: fadeIn 0.3s ease; /* Animasi fade in saat dialog muncul */
  }
  
  /* Header dialog */
  .dialog-header {
    display: flex;
   justify-content: end;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
  }
  .dialog-container h1{
    font-size: 24px;
    color: white;
    font-weight: bold;
  
  }
  
  .dialog-container p{
    font-size: 18px;
    color: #C5C5C5;
  }
  .dialog-container h2 {
    margin: 0;
    font-size: 20px;
    color: #E9A950;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #ff5b5b; /* Warna merah untuk tombol close */
    font-weight: bold;
  }
  
  /* Gaya untuk isi chart */
  .chart-mbl {
    display: none;
  }
  .chart-web {display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 20px 0;}
  
  .bar {
    text-align: center;
  }
  
  .bar-value {
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
  }
  
  .bar-graph {
    width: 30px;
    background-color: #ffb347; /* Warna bar chart */
  }
  
  .bar-year {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
  }
  
  /* Navigasi bawah dialog */
  .navigation {
    display: none;
 
  }
@media only screen and (max-width: 768px) {
    .bagianContent{ 
        margin: 0 20px;
        display: flex;
        flex-direction: row;
      align-items: flex-end;
      height: 400px;
    }
   
    .contentText h1{
        color: white;
        font-size: 48px;
        
    }
    .contentText p{
        font-size: 16px;
        color: white;
    }
    .contentText h2{
        font-size: 20px;
        color: white;
    }
  nav {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
  }
.Jumbroton{
    width: 100%;
    height: 490px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/static/img/in.jpg');
}
  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li:last-of-type {
    padding-bottom: 8px;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }

  /* Bagian Iconpilih */
  .iconPilih{
    display: flex;
    width: 120px;
    height: 40px;
    margin-bottom: -60px;
    
    align-items: center;
}
.btnAr{
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    border-radius: 3000px;
    background-color: white;
}
.btnAr:hover{
    width: 34px;
    height: 34px;
}
.ila-active{
    width: 24px;
    height: 4px;
    border-radius: 8px;
    background-color: white;
    transition: all 0.3s ease;
}
.iconPilihG{
    display: none;
}
.ila{
    width: 4px;
    height: 4px;
    margin-left: 4px;
    border-radius: 1000px;
    transition: all 0.3s ease;
    background-color: #ffffffdd;
}
.ila-container{display: flex;}
/* Bagian Content Tentang */

.tentangKontainer{
  margin: 80px 20px;
  
  display: flex;
  flex-direction: column;
  height:700px;

}
.bagianGmbr{
  width: 100%;
  margin-top: 50px;
  
  height: 400px;
 display: flex;
 justify-items: center;
 align-items: center;
 justify-content: center;
}
.bagianGmbr img{
  width: 400px;
  margin: auto;
  height: 400px;
}
.bagianText{
  height: 400px;
  width: 100%;
text-align: center;
}

.bagianText h1{
font-size: 24px;
font-weight: bold;
color: #014224;
letter-spacing: 11%;
}
.bagianText p{
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
  text-align: justify;
  color: black;
}

/* Bagian data Grafik */
.bagianDataGrafik{
  width: 100%;
  background-color: #014224;
  padding: 60px 20px;
  background: linear-gradient(rgba(1, 66, 36, 0.8), rgba(1, 66, 36, 0.8)), 
              url('/static/img/forest.jpg');
  
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 700px;

  text-align: center;
}
.bagianDataGrafik h1{
  font-size: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 11%;
}
.bagianDataGrafik p{
  font-size: 18px;
  color: white;
  font-weight: 500;
  letter-spacing: 11%;
  margin-top: 15px;
}
.bagianCardData{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: auto;
  overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
  
  margin-top: 20px;
}
.bagianCardData::-webkit-scrollbar{
  width: 0;
}
.cardData{
  width: 240px;
  display: flex;
  margin-right: 30px;
  flex-direction: column;
 align-items: center;
flex-shrink: 0; 
  height: 400px;
  background-color: white;
  border-radius: 12px;
  padding: 10px;

}
.imgCardD{
width: 100%;
height: 312px;
border-radius: 20px;
}
.cardData img{
  width: 100%;
  height: 100%;
  
  object-fit: cover; 
  border-radius: inherit; 
}
.cardData h1{
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #014224;
}
.btnCardD{
  width: 180px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  color: white;
  padding: 10px;
  font-size: 18px;
  background-color: #014224;
  font-weight: bold;
  margin: auto;
}

.baganFitur{
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
display: flex;
flex-direction: column;
  height: 600px;
  justify-content: center;
}

.gambarFTR{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
  perspective: 1000px;
  width: 100%;
}
.imgFTR{
  border-radius: 12px;
  overflow: hidden;
 padding: 10px;
  background-color: #014224; 
  padding: 10px;
  transform-style: preserve-3d; 
    transition: transform 0.5s ease;
  display: flex;
  
  transform-origin: left; 
  justify-content: center;
  order: 1;
  align-items: center;
} 
.sedang{
  width: 130px;
  height: 200px;
  
  transform: perspective(1000px) rotateY(-10deg) skewX(-5deg);
}
.kecil{
  width: 100px;
  height: 180px;
  transform: perspective(1000px) rotateY(-10deg) skewX(-5deg);
}
.besar{
  width: 150px;
  height: 250px;
  transform: perspective(1000px) rotateY(-10deg) skewX(-5deg);
}
.imgFTR:hover {
  transform: perspective(1000px) rotateY(0deg) skewX(0deg); 
}
.imgFTR img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
      border-radius: inherit; 
}
.textFitur{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  order: 2;
}

.textFitur h2{
  font-size: 16px;
  font-weight: 600;
  color: #E9A950;
margin-bottom: 8px;
}
.textFitur h1{
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 8px;
}
.textFitur p{
  font-size: 16px;
  color: #8D8888;
  letter-spacing: 2px;
  
}
.fiturCrd{
  width: 80%;
  height: 40px;

  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
padding: 8px 10px 3px 10px; 
  -webkit-box-shadow: -6px 7px 22px -12px rgba(0,0,0,0.75);
-moz-box-shadow: -6px 7px 22px -12px rgba(0,0,0,0.75);
box-shadow: -6px 7px 22px -12px rgba(0,0,0,0.75);
}
.fiturCrd img{
  width: 24px;
  height: 24px;
   margin-right: 10px;
}
.fiturCrd h1{
  font-size: 16px;
  color: #014224;
  margin-bottom: 20px;
}

.footer-content {
  flex-direction: column;
  align-items: center;
}

.footer-column {
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 1.1rem;
}

.dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Warna latar belakang semi-transparan */
  display: none; /* Tersembunyi secara default */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Gaya untuk kontainer dialog */
.dialog-container {
   /* Warna background dialog */
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  background: linear-gradient(rgba(1, 66, 36, 0.8), rgba(1, 66, 36, 0.8)), 
                  url('/static/img/forest.jpg');
      text-align: center;
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; /* Bayangan */
  animation: fadeIn 0.3s ease; /* Animasi fade in saat dialog muncul */
}

/* Header dialog */
.dialog-header {
  display: flex;
 justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}
.dialog-container h1{
  font-size: 20px;
  color: white;
  font-weight: bold;

}

.dialog-container p{
  font-size: 14px;
  color: #C5C5C5;
}
.dialog-container h2 {
  margin: 0;
  font-size: 16px;
  color: #E9A950;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ff5b5b; /* Warna merah untuk tombol close */
  font-weight: bold;
}

/* Gaya untuk isi chart */
.chart-mbl {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 20px 0;
}
.chart-web {display: none;}

.bar {
  text-align: center;
}

.bar-value {
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
}

.bar-graph {
  width: 30px;
  background-color: #ffb347; /* Warna bar chart */
}

.bar-year {
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

/* Navigasi bawah dialog */
.navigation {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 20px;
}

.navigation span {
  cursor: pointer;
  color: white; /* Warna biru untuk navigasi */
}

.navigation span:hover {
  text-decoration: underline;
}

/* Fade in animation */

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}