{% extends "/admin/layout/index.html" %}


{% block content %}

<div class="overview">
    <div class="title">
        <i class="uil uil-tachometer-fast-alt"></i>
        <span class="text">Dashboard</span>
    </div>

    <div class="boxes">
        <div class="box box1">
            <i class="uil uil-thumbs-up"></i>
            <span class="text">Total Likes</span>
            <span class="number">50,120</span>
        </div>
        <div class="box box2">
            <i class="uil uil-comments"></i>
            <span class="text">Comments</span>
            <span class="number">20,120</span>
        </div>
        <div class="box box3">
            <i class="uil uil-share"></i>
            <span class="text">Total Share</span>
            <span class="number">10,120</span>
        </div>
    </div>
</div>

<div class="activity">
    <div class="title">
        <i class="uil uil-clock-three"></i>
        <span class="text">Aktivitas</span>
    </div>

    <div class="activity-data">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Gambar</th>
                    <th>Nama Balai</th>
                    <th>Deskripsi</th>
                    <th>Provinsi</th>
                    <th>Alamat</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Balai Konservasi Jawa Barat</td>
                    <td>Balai Konservasi ini biasanya Melakukan rescue hewan Badak bercula satu </td>
                    <td>Jawa Barat</td>
                    <td>Jl. Mangga No.75 Bandung</td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Balai Konservasi Jawa Barat</td>
                    <td>Balai Konservasi ini biasanya Melakukan rescue hewan Badak bercula satu </td>
                    <td>Jawa Barat</td>
                    <td>Jl. Mangga No.75 Bandung</td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Balai Konservasi Jawa Barat</td>
                    <td>Balai Konservasi ini biasanya Melakukan rescue hewan Badak bercula satu </td>
                    <td>Jawa Barat</td>
                    <td>Jl. Mangga No.75 Bandung</td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Balai Konservasi Jawa Barat</td>
                    <td>Balai Konservasi ini biasanya Melakukan rescue hewan Badak bercula satu </td>
                    <td>Jawa Barat</td>
                    <td>Jl. Mangga No.75 Bandung</td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Balai Konservasi Jawa Barat</td>
                    <td>Balai Konservasi ini biasanya Melakukan rescue hewan Badak bercula satu </td>
                    <td>Jawa Barat</td>
                    <td>Jl. Mangga No.75 Bandung</td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Balai Konservasi Jawa Barat</td>
                    <td>Balai Konservasi ini biasanya Melakukan rescue hewan Badak bercula satu </td>
                    <td>Jawa Barat</td>
                    <td>Jl. Mangga No.75 Bandung</td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Balai Konservasi Jawa Barat</td>
                    <td>Balai Konservasi ini biasanya Melakukan rescue hewan Badak bercula satu </td>
                    <td>Jawa Barat</td>
                    <td>Jl. Mangga No.75 Bandung</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}