{% extends "/admin/layout/index.html" %}


{% block content %}
<div class="overview">
    <div class="title">
        <i class="uil uil-files-landscapes"></i>
        <span class="text">Data Laporan</span>
    </div>

    <div class="boxes">
        <div class="box box1">
            <i class="uil uil-share"></i>
            <span class="text">Total Laporan</span>
            <span class="number">50,120</span>
        </div>
        <div class="box box2">
            <i class="uil uil-comments"></i>
            <span class="text">Laporan Proses</span>
            <span class="number">20,120</span>
        </div>
        <div class="box box3">
            <i class="uil uil-thumbs-up"></i>
            <span class="text">Laporan Selesai</span>
            <span class="number">10,120</span>
        </div>
    </div>
</div>

<div class="activity">
    <div class="title">
        <i class="uil uil-clock-three"></i>
        <span class="text">Aktivitas</span>
    </div>

    <div class="activity-data">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Gambar</th>
                    <th>Nama Lengkap</th>
                    <th>No Hp</th>
                    <th>Alamat</th>
                    <th>Status</th>
                    <th>Tanggal</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>089676753965</td>
                    <td>Jawa Tengah</td>
                    <td>Selesai</td>
                    <td>27/06/2024</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>089676753965</td>
                    <td>Jawa Tengah</td>
                    <td>Selesai</td>
                    <td>27/06/2024</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>089676753965</td>
                    <td>Jawa Tengah</td>
                    <td>Selesai</td>
                    <td>27/06/2024</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>089676753965</td>
                    <td>Jawa Tengah</td>
                    <td>Selesai</td>
                    <td>27/06/2024</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>089676753965</td>
                    <td>Jawa Tengah</td>
                    <td>Selesai</td>
                    <td>27/06/2024</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>089676753965</td>
                    <td>Jawa Tengah</td>
                    <td>Selesai</td>
                    <td>27/06/2024</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>089676753965</td>
                    <td>Jawa Tengah</td>
                    <td>Selesai</td>
                    <td>27/06/2024</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}