*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 20px auto;
    padding: 0;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}
.contentD{
    display: flex;
    flex-direction: column;
}

.card-image {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-details {
    flex: 1.5;
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 20px;
}

.card-details p {
    font-size: 16px;
    margin: 10px 0;
}

.status {
    color: #145E32;
    font-weight: bold;
}

.card-actions {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 10px; 
}

.btn-container {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.btn-upload, .btn-report {
    background-color: #145E32;
    color: white;
    padding: 10px 85px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    width: 100%; 
}

.btn-upload:hover, .btn-report:hover {
    background-color: #0f4a29;
}

.btn-report {
    background-color: #A62A15;
    max-width: 400px;
}

.btn-report:hover {
    background-color: #8C2411;
}