{% extends "/admin/layout/index.html" %}


{% block content %}
<div class="overview">
    <div class="title">
        <i class="uil uil-tachometer-fast-alt"></i>
        <span class="text">Data User</span>
    </div>

    <div class="boxes">
        <div class="box box1">
            <i class="uil uil-user"></i>
            <span class="text">Total Super Admin</span>
            <span class="number">50,120</span>
        </div>
        <div class="box box2">
            <i class="uil uil-user"></i>
            <span class="text">Total Admin</span>
            <span class="number">20,120</span>
        </div>
        <div class="box box3">
            <i class="uil uil-user"></i>
            <span class="text">Total User</span>
            <span class="number">10,120</span>
        </div>
    </div>
</div>

<div class="activity">
    <div class="title">
        <i class="uil uil-clock-three"></i>
        <span class="text">Aktivitas</span>
    </div>

    <div class="activity-data">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Gambar</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>No Hp</th>
                    <th>Role</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>YantoGemink@gmail.com</td>
                    <td>089585752894</td>
                    <td>Super Admin</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>YantoGemink@gmail.com</td>
                    <td>089585752894</td>
                    <td>Admin</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>YantoGemink@gmail.com</td>
                    <td>089585752894</td>
                    <td>User</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>YantoGemink@gmail.com</td>
                    <td>089585752894</td>
                    <td>Super Admin</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>YantoGemink@gmail.com</td>
                    <td>089585752894</td>
                    <td>Admin</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Prem Shahi</td>
                    <td>Yanto</td>
                    <td>YantoGemink@gmail.com</td>
                    <td>089585752894</td>
                    <td>User</td>
                    <td>
                        <button class="action-btn edit-btn">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="action-btn delete-btn">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}