<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" target="_blank" href="{{ url_for('static', filename='/css/layout.css')}}" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
    <link 
    rel="stylesheet" 
    href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
/>
    <title>Home</title>
</head>

<body>
    {% include '/Widget/navbar.html'%}

    
        {% block content %}
        
        {% endblock %}
        
  

    {% include '/Widget/footer.html'%}
    <script src="{{url_for('static', filename='/js/layout.js')}}"></script>
    <script
        src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>