<footer class="footer">
    <div class="footer-content">
        <div class="footer-column">
            <h3>SIPANDA.</h3>
            <p>Sistem Informasi Hewan Dilindungi</p>
            <div class="social-icons">
                <a href="#"><img src="/static/img/Instagram.png" alt=""></a> 
                <a href="#"><img src="/static/img/Vector.png" alt=""></a> 
                <a href="#"><img src="/static/img/Vector (1).png" alt=""></a> 
            </div>
        </div>
        <div class="footer-column">
            <h3>Company</h3>
            <ul>
                <li><a href="#">Tentang</a></li>
                <li><a href="#">Fitur</a></li>
               
            </ul>
        </div>
        <div class="footer-column">
            <h3>Links</h3>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Recent Work</a></li>
                <li><a href="#">Features</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Contact</h3>
            <ul>
                <li><a href="tel:+085951545918">085951545918</a></li>
                <li><a href="mailto:sipanda@gmail.com">sipanda@gmail.com</a></li>
                <li><a href="#">Tegal, Jawa Tengah</a></li>
            </ul>
        </div>
    </div>

    <div class="back-to-top">
        <a href="#">&#9650;</a>
    </div>

    <div class="footer-bottom">
        <p>Copyright © Tim Capstone Kelompok 4, 5C.</p>
    </div>
</footer>