<nav>
    <div class="">
      <h1>SIPANDA</h1>
    </div>
    <div id="menu-icon" class="menu-icon">
      <i class="ph-fill ph-list"></i>
    </div>
    <ul id="menu-list" class="hidden">
      <li>
        <a href="{{url_for('home')}}">Home</a>
      </li>
      <li>
        <a href="#">Scan</a>
      </li>
      <li>
        <a href="#">Map</a>
      </li>
      {%if session.get('user_id') %}
      <li class="dropdown">
        <a href="#" class="btn" id="profileBtn">Profil</a>
        <div class="dropdown-content" id="profileDropdown">
            <a href="{{ url_for('profil') }}">Lihat Profil</a>
            <a href="#">Sign Out</a>
        </div>
    </li>
      {%else%}
      <li>
        <a href="#" class="btn" id="openDialog">Buat Akun</a>
      </li>
      <li>
        <a href="#" class="btn">Masuk</a>
      </li>
      {%endif%}
    </ul>
  </nav>