{% extends "/admin/layout/index.html" %}


{% block content %}

<div class="overview">
    <div class="title">
        <i class="uil uil-files-landscapes"></i>
        <span class="text">Tambah Data Kategori</span>
    </div>

    <div class="activity" >
        <form class="activity-form" method="POST" action="{{url_for('kategoriUpdate', id_kategori=datakategori.id_kategori)}}" >
            <div class="form-group">
                <label for="nama_kategori">Nama</label>
                <input type="text" id="nama_kategori" name="nama_kategori" placeholder="Masukkan nama kategori" value="{{datakategori.nama_kategori}}">
            </div>
            <div class="form-group actions">
                <button type="submit" class="save-btn">Simpan</button>
                <button type="reset" class="cancel-btn">Batal</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}