
{% extends "/layout/layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/hasil.css') }}">
{% endblock %}



{% block content %}
<main>
<div class="card-container">
    <div class="card-content">
        <div class="card-image">
            <img src="/static/image/gajah.png" alt="Gajah Sumatra">
        </div>
        <div class="contentD">
            <div class="card-details">
                <p><strong>Status: </strong><span class="status">Dilindungi</span></p>
                <p><strong>Nama Hewan: </strong>Gajah Sumatra</p>
                <p><strong>Spesies: </strong><i>Elephas maximus sumatranus</i></p>
                <p><strong>Daerah Asal: </strong>Sumatra</p>
            </div>
            <button class="btn-report">Laporkan</button>
        </div>
        
    </div>
    <div class="card-actions">
        <div class="btn-container">
            <button class="btn-upload">Unggah File</button>
            <button class="btn-upload">Unggah Gambar</button>
        </div>
    </div>
</div>   

</main>

{% endblock %}

