
{% extends "/layout/layout.html" %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}



{% block content %}
<div class="Jumbroton" id="Jumbroton">
    <div class="bagianContent">
        <div class="contentText">
            <h1>
                AYO<br>LINDUNGI
            </h1>
            <p>Membantu mengetahui hewan yang di lindungi</p>
            <h2>Continue -></h2>
        </div>
        <div class="bagianGambarPilih">

            <div class="iconPilihG">
                <div class="imgPG" datajm="url('/static/img/in.jpg')">
                      <img src="/static/img/in.jpg" alt="">
                </div>
                <div class="imgPG" datajm="url('/static/img/en.jpg')">
                  <img src="/static/img/en.jpg" alt=""  >
                </div>
                <div class="imgPG"  datajm="url('/static/img/un.jpg')">
                  <img src="/static/img/un.jpg" alt="">
                </div>
               
            </div>
                <div class="iconPilih">
                  <div class="btnAr" id="prevBtn"></div>  
                  <div class="ila-container">
                      <div class="ila"></div>  
                      <div class="ila"></div>  
                      <div class="ila"></div>  
                  </div>
                  <div class="btnAr" id="nextBtn"></div>
               
        </div>
    </div>
</div>

<div class="tentangKontainer">
    <div class="bagianGmbr"><img src="/static/img/ilTentang.png" alt=""></div>
    <div class="bagianText">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab facere recusandae pariatur illum veniam, laboriosam accusantium nesciunt accusamus ipsam voluptatem at? Inventore saepe assumenda nam molestias ab recusandae doloremque nesciunt?</p>
    </div>
</div>


<div class="bagianDataGrafik">
  <div class="bgnText">
    <h1>Grafik Data Hewan</h1>
    <p>Kumpulan total hewan tiap tahun yang di lindungi di indonesia</p>
  </div>

  <div class="bagianCardData">
    <div class="cardData">
        <div class="imgCardD">
          <img src="/static/img/in.jpg" alt="">
          <h1>Gajah Sumetera</h1>
          <div class="btnCardD">
            Lihat
          </div>
        </div>
        
    </div>
    <div class="cardData">
      <div class="imgCardD">
        <img src="/static/img/in.jpg" alt="">
        <h1>Gajah Sumetera</h1>
        <div class="btnCardD">
          Lihat
        </div>
      </div>
      
    </div>
    <div class="cardData">
    <div class="imgCardD">
      <img src="/static/img/in.jpg" alt="">
      <h1>Gajah Sumetera</h1>
      <div class="btnCardD" id="open-dialog-btn">
        Lihat
      </div>
    </div>
    
  </div>
<div class="cardData">
  <div class="imgCardD">
    <img src="/static/img/in.jpg" alt="">
    <h1>Gajah Sumetera</h1>
    <div class="btnCardD">
      Lihat
    </div>
  </div>
  
</div>
<div class="cardData">
  <div class="imgCardD">
  <img src="/static/img/in.jpg" alt="">
  <h1>Gajah Sumetera</h1>
  <div class="btnCardD">
    Lihat
  </div>
</div>

</div>
<div class="cardData">
<div class="imgCardD">
<img src="/static/img/in.jpg" alt="">
<h1>Gajah Sumetera</h1>
<div class="btnCardD">
  Lihat
</div>
</div>

</div>
<div class="cardData">
<div class="imgCardD">
<img src="/static/img/in.jpg" alt="">
<h1>Gajah Sumetera</h1>
<div class="btnCardD">
  Lihat
</div>
</div>

</div>
<div class="cardData">
<div class="imgCardD">
<img src="/static/img/in.jpg" alt="">
<h1>Gajah Sumetera</h1>
<div class="btnCardD">
  Lihat
</div>
</div>

</div>
  </div>
  
</div>



<div class="baganFitur">
  <div class="gambarFTR">
    <div class="imgFTR kecil">
      
        <img src="/static/img/in.jpg" alt="">
      
    </div>
    <div class="imgFTR sedang">
      <img src="/static/img/en.jpg" alt="">
    </div>
    <div class="imgFTR besar">
      <img src="/static/img/un.jpg" alt="">
    </div>
   
  </div>

  <div class="textFitur">
    <h2>Fitur</h2>
    <h1>Apa saja yang ada di SIPANDA?</h1>
    <p>SIPANDA akan memberikan fitur <br>yang bermanfaat untuk anda</p>
    <div class="fiturCrd" onclick="toggleDropdown('desc1')">
      <img src="/static/img/icon.png" alt="">
      <h1>Image Hai</h1>
      
  </div>
  
    <div class="fiturCrd">
      <img src="/static/img/icon.png" alt="">
      <h1>Lapor Cepat</h1>
      
     </div>
     <div class="fiturCrd">
      <img src="/static/img/icon.png" alt="">
      <h1>Chat Bot</h1>
     </div>
     
  </div>
</div>
<div class="dialog-background" id="dialogBackground">
  <div class="dialog-container">
    <div class="dialog-header">
      
      <button class="close-btn" id="closeDialog">&times;</button>
    </div>
    <h2>Grafik</h2>
    <h1>Hewan Gajah</h1>
    <p>Grafik dari total jumlah <br>hewan terjadi pada tiap tahun</p>
    
    <div class="chart-mbl">
      <div class="bar">
        <div class="bar-value">300</div>
        <div class="bar-graph" style="height: 150px;"></div>
        <div class="bar-year">2012</div>
      </div>
      <div class="bar">
        <div class="bar-value">300</div>
        <div class="bar-graph" style="height: 150px;"></div>
        <div class="bar-year">2013</div>
      </div>
      <div class="bar">
        <div class="bar-value">300</div>
        <div class="bar-graph" style="height: 150px;"></div>
        <div class="bar-year">2014</div>
      </div>
    </div>
    <div class="chart-web">
      <div class="bar">
        <div class="bar-value">300</div>
        <div class="bar-graph" style="height: 150px;"></div>
        <div class="bar-year">2012</div>
      </div>
      <div class="bar">
        <div class="bar-value">300</div>
        <div class="bar-graph" style="height: 150px;"></div>
        <div class="bar-year">2013</div>
      </div>
      <div class="bar">
        <div class="bar-value">300</div>
        <div class="bar-graph" style="height: 150px;"></div>
        <div class="bar-year">2014</div>
      </div>
      <div class="bar">
        <div class="bar-value">300</div>
        <div class="bar-graph" style="height: 150px;"></div>
        <div class="bar-year">2014</div>
      </div>
      <div class="bar">
        <div class="bar-value">300</div>
        <div class="bar-graph" style="height: 150px;"></div>
        <div class="bar-year">2014</div>
      </div>
      <div class="bar">
        <div class="bar-value">300</div>
        <div class="bar-graph" style="height: 150px;"></div>
        <div class="bar-year">2014</div>
      </div>
      <div class="bar">
        <div class="bar-value">300</div>
        <div class="bar-graph" style="height: 150px;"></div>
        <div class="bar-year">2014</div>
      </div>
      <div class="bar">
        <div class="bar-value">300</div>
        <div class="bar-graph" style="height: 150px;"></div>
        <div class="bar-year">2014</div>
      </div>
    </div>
    <div class="navigation">
      <span id="prev">← Sebelumnya</span>
      <span id="next">Selanjutnya →</span>
    </div>
  </div>
</div>
<div class="bagianMaps">
  <h2>Maps</h2>
  <h1>Balai Konservasi</h1>
  <p>Menunjukan Balai Konservarsi yang ada di indonesia.</p>
  <div id="map" class="maps" ></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='/js/home.js') }}"></script>
{% endblock %}